// Fonts
@import url(https://fonts.googleapis.com/css?family=Fauna+One);
@import url(https://fonts.googleapis.com/css?family=Sofia);
@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: 'Fauna One', serif;
    font-size: 18px;
    text-align: justify;
}
a{
    text-decoration: none;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}
h1.title{
    font-size: 200%;
}
h1.author{
    font-size: 120%;
    font-weight: normal;
}
h1,h2,h3{
    margin-bottom: 25px;
    text-align: center;
}
h1{
    font-size: 150%;
}
h2{
    font-size: 140%;
    font-weight: 200;
}
h3{
    font-size: 130%;
    font-weight: 200;
}
h4, h5, h6{
    font-size: 120%;
    font-weight: 200;
}
.index{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 90%;
}
.sofia{
    font-family: 'Sofia', cursive;
}
.references {
    font-size: 12px;
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
    column-width: 20em;
}
.references ol li{
    list-style-position: inside;
}
img{
    display: inline;
    margin: 5px;
}
blockquote{
    margin-left: 20px;
    font-size: 16px;
    font-family: 'Sofia', cursive;
}
blockquote:before{
    float: left;
    content: url(blockquote.png);
    margin-right: 10px;
}
blockquote .blockquote_author{
    text-align: right;
    display: block;
}
blockquote .blockquote_author:after, blockquote .blockquote_author:before{
    content: " - ";
}
pre{
    white-space: pre-wrap;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 90%;
}
.text_center{
    text-align: center;
}
.text_right{
    text-align: right;
}
.text_left{
    text-align: left;
}
.text_justify{
    text-align: justify;
}
.space_10{
    margin-bottom: 10px;
}
.space_20{
    margin-bottom: 20px;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.pagecounter{
    content: counter(page);
}
@media print{
    html, body, table {
        font-family: 'Fauna One', serif;
        font-size: 10pt;
        counter-reset: page 0;
    }
    @page{
        counter-increment: page;
        size: 7in 9.25in;
        margin: 20mm 10mm 20mm 10mm;

        @bottom-left{
            content: counter(page) " de " counter(pages);
        }
    }
    div.chapter, div.appendix {
        page-break-after: always;
    }
    div.titlepage {
        page: blank;
    }
    p{
        margin-top: 10pt;
        margin-bottom: 10pt;
        line-height: 1.75;
    }
    a{
      color: inherit;
    }
    .references{
        font-size: 7pt;
    }
    .noprint{
        display: none;
    }
    .new_line{
        page-break-before: always;
    }
}

@media screen and (max-width: 767px){
    body{
        padding-top: 25px;
        overflow: hidden;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    p{
        line-height: 22px;
    }
    div.chapter{
        padding-bottom: 30px;
        margin-bottom: 40px;
        border-bottom: 1px solid #DDD;
    }
}

@media screen and (min-width: 768px){
    body{
        padding-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    p{
        line-height: 26px;
    }
    div.chapter{
        padding-bottom: 30px;
        margin-bottom: 40px;
        border-bottom: 1px solid #DDD;
    }
}
