doctype
html
  head
    title Antología de Terror :: Jorge Hernández
    meta(name="author",content="Jorge Hernández")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description",content="Pruebas")
    link(rel="stylesheet" href="/css/main.css")
  body
    != yield
