div.chapter
  h1(class="title text_center") Antología de Terror
  h1(class="author text_center") Jorge Hernández

div(class="chapter")
  h1 Índice
  ol.index
    for chapter, slug in public.chapters._data
      li 
        a(href="#"+slug) #{ chapter.title }

for chapter, slug in public.chapters._data
  div(class="chapter", id="#{ slug }")
    != partial("chapters/" + slug)
