h2(class="sofia text_left") Dedicatoria
blockquote
  p Quisiera dedicar este compilado de textos mal escritos, a quien, aunque todavía no naciera cuando fueron creados, representa para mi hoy en día, una fuente de inspiración infinita.
  p A mi hija Dalia.
  span.blockquote_author Tu papá, Jorge.
